<div class="cardGrid">
    <h1>Lorem Ipsum</h1>
    <section class="cardsSection">
        <div class="informationCardTemplate"></div>
        <div class="informationCardTemplate"></div>
        <div class="informationCardTemplate"></div>
        <div class="informationCardTemplate"></div>
<!--        <div xlu-include-file="../../templates/HTML/informationCard.html"></div>-->
<!--        <div xlu-include-file="../../templates/HTML/informationCard.html"></div>-->
<!--        <div xlu-include-file="../../templates/HTML/informationCard.html"></div>-->
<!--        <div xlu-include-file="../../templates/HTML/informationCard.html"></div>-->
    </section>
</div>
