<footer id="footer">
    <p id="footer-name">Lorem ipsum</p>
    <div class="footer-content">

        <div class="column-footer">
            <p id="RRSS">Lorem ipsum dolor sit amet</p>
            <a href="https://www.youtube.com">Lorem ipsum</a><br>
            <a href="https://www.instagram.com">Lorem ipsum</a> <br>
            <a href="https://www.X.com">Lorem ipsum</a>

        </div>

        <div class="column-footer">
            <p id="Contact">Lorem ipsum dolor sit amet</p>
            <a href="https://www.google.com">Lorem ipsum</a><br>
            <a href="https://www.google.com">Lorem ipsum</a>


        </div>

        <div class="column-footer">
            <p id="WHOIAM">Lorem ipsum dolor sit amet</p>
            <a href="https://www.google.com">Lorem ipsum</a>
        </div>
    </div>
</footer>