<header>
    <div class="header-left">
        <nav class="header-home">
            <button id="home-btn">Lorem ipsum.</button>
        </nav>

<!--        <nav xlu-include-file="../../templates/HTML/dropDown.html"></nav>-->
<!--        <nav xlu-include-file="../../templates/HTML/dropDown.html"></nav>-->
<!--        <nav xlu-include-file="../../templates/HTML/dropDown.html"></nav>-->
<!--        <nav xlu-include-file="../../templates/HTML/dropDown.html"></nav>-->
        <nav class="dropDownTemplate"></nav>
        <nav class="dropDownTemplate"></nav>
        <nav class="dropDownTemplate"></nav>
        <nav class="dropDownTemplate"></nav>

    </div>

    <form class="search-form" role="search">
        <div class="search-wrapper">
            <input type="search" id="q" placeholder="Buscar…"></input>
            <button type="submit" aria-label="Buscar">🔍</button>
        </div>
    </form>

    <nav class="header-right">
        <button id="upload-btn">Lorem ipsum.</button>
        <button id="login-btn"></button>
    </nav>
</header>
