<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="../CSS/header.css">
    </head>
    <body>
        <header>
            <div class="header-left">
                <nav class="header-home">
                    <button id="home-btn">Lorem ipsum.</button>
                </nav>

                <nav class="dropdown">
                    <button class="dropdown-btn">Lorem &#9662</button>

                    <div class="dropdown-content">
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum.</button>
                    </div>
                </nav>
                <nav class="dropdown">
                    <button class="dropdown-btn">Lorem &#9662</button>

                    <div class="dropdown-content">
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum.</button>
                    </div>
                </nav>
                <nav class="dropdown">
                    <button class="dropdown-btn">Lorem &#9662</button>

                    <div class="dropdown-content">
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum.</button>
                    </div>
                </nav>
                <nav class="dropdown">
                    <button class="dropdown-btn">Lorem &#9662</button>

                    <div class="dropdown-content">
                        <button>Lorem ipsum.</button>
                        <button>Lorem ipsum.</button>
                    </div>
                </nav>
            </div>

            <form class="search-form" role="search">
                <div class="search-wrapper">
                    <input type="search" id="q" placeholder="Buscar…">
                    <button type="submit" aria-label="Buscar">🔍</button>
                </div>
            </form>

            <nav class="header-right">
                <button id="upload-btn">Lorem ipsum.</button>
                <button id="login-btn"></button>
            </nav>
        </header>
    </body>
</html>