<div class="cardLayout">
    <button class="informationCard">
        <div class="cardImage">
            <img src="https://picsum.photos/200/220?random=1" alt="Imagen Lorem Ipsum">
        </div>
        <div class="cardContent">
            <div>
                <h2>Lorem ipsum</h2>
                <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
                <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
            </div>
            <p>
                dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </button>
</div>
