<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../CSS/media-list.css">
</head>
<body>
    <button class="media-button">
        <img src="" alt="Imagen">
        <div class="media-text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid earum libero odit possimus quae quis sint suscipit voluptatibus? Commodi dignissimos, eius excepturi maiores natus nobis perspiciatis quas ratione similique sint sunt, totam. Culpa, deleniti eos eveniet placeat possimus repellat similique voluptates? Cupiditate similique, totam? Alias, aut repellendus. A accusamus amet, animi eaque labore laboriosam tempore voluptatum. Blanditiis libero similique sunt voluptates. Explicabo mollitia, rerum? Ab aperiam at blanditiis corporis, distinctio dolores esse eum excepturi expedita fuga impedit iure labore magni modi molestias neque nobis numquam odit praesentium reiciendis reprehenderit repudiandae rerum sapiente sit temporibus veniam vitae voluptatibus? Iusto, nemo odio.</p>
        </div>
    </button>
    <button class="media-button">
        <img src="" alt="Imagen">
        <div class="media-text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid earum libero odit possimus quae quis sint suscipit voluptatibus? Commodi dignissimos, eius excepturi maiores natus nobis perspiciatis quas ratione similique sint sunt, totam. Culpa, deleniti eos eveniet placeat possimus repellat similique voluptates? Cupiditate similique, totam? Alias, aut repellendus. A accusamus amet, animi eaque labore laboriosam tempore voluptatum. Blanditiis libero similique sunt voluptates. Explicabo mollitia, rerum? Ab aperiam at blanditiis corporis, distinctio dolores esse eum excepturi expedita fuga impedit iure labore magni modi molestias neque nobis numquam odit praesentium reiciendis reprehenderit repudiandae rerum sapiente sit temporibus veniam vitae voluptatibus? Iusto, nemo odio.</p>
        </div>
    </button>
    <button class="media-button">
        <img src="" alt="Imagen">
        <div class="media-text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid earum libero odit possimus quae quis sint suscipit voluptatibus? Commodi dignissimos, eius excepturi maiores natus nobis perspiciatis quas ratione similique sint sunt, totam. Culpa, deleniti eos eveniet placeat possimus repellat similique voluptates? Cupiditate similique, totam? Alias, aut repellendus. A accusamus amet, animi eaque labore laboriosam tempore voluptatum. Blanditiis libero similique sunt voluptates. Explicabo mollitia, rerum? Ab aperiam at blanditiis corporis, distinctio dolores esse eum excepturi expedita fuga impedit iure labore magni modi molestias neque nobis numquam odit praesentium reiciendis reprehenderit repudiandae rerum sapiente sit temporibus veniam vitae voluptatibus? Iusto, nemo odio.</p>
        </div>
    </button>
    <button class="media-button">
        <img src="" alt="Imagen">
        <div class="media-text">
            <h3>Lorem ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid earum libero odit possimus quae quis sint suscipit voluptatibus? Commodi dignissimos, eius excepturi maiores natus nobis perspiciatis quas ratione similique sint sunt, totam. Culpa, deleniti eos eveniet placeat possimus repellat similique voluptates? Cupiditate similique, totam? Alias, aut repellendus. A accusamus amet, animi eaque labore laboriosam tempore voluptatum. Blanditiis libero similique sunt voluptates. Explicabo mollitia, rerum? Ab aperiam at blanditiis corporis, distinctio dolores esse eum excepturi expedita fuga impedit iure labore magni modi molestias neque nobis numquam odit praesentium reiciendis reprehenderit repudiandae rerum sapiente sit temporibus veniam vitae voluptatibus? Iusto, nemo odio.</p>
        </div>
    </button>
</body>
</html>