<div class="topicGrid">
  <h1>Lorem Ipsum</h1>
  <section class="topicsSection">
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
    <div xlu-include-file="../../templates/HTML/topicBoxBtn.html"></div>
  </section>
</div>
