<div class="topicGrid">
  <h1>Lorem Ipsum</h1>
  <section class="topicsSection">
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
    <div class="topicBox">
      <p>Lorem Ipsum</p>
    </div>
  </section>
</div>
