<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-img src="https://cdn-icons-png.flaticon.com/256/6583/6583566.png" alt="Inicio" class="home-icon"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start" class="header-nav header-left">
      @for (topico of topicos$ | async; track topico.id; let i = $index) {
         <div class="dropdown"
              (mouseenter)="onMenuEnter(i)"
              (mouseleave)="onMenuLeave()">
          <ion-button #dropdownBtn fill="clear" class="dropdown-btn">
            {{ topico.nombre }}
          </ion-button>
        </div>
      }
    </ion-buttons>

    <ion-buttons slot="end" class="header-right">
      <ion-searchbar
        placeholder="Buscar…"
        [(ngModel)]="searchQuery"
        (ionInput)="onSearch()"
        class="search-input"
      ></ion-searchbar>

      @if (!isLoggedIn) {
        <ion-button routerLink="/Login" fill="outline" class="login-btn">
          Iniciar sesión
        </ion-button>
      } @else {
        <div class="profile-trigger">
          <ion-button fill="clear" (click)="toggleProfileMenu($event)" class="profile-avatar-btn">
            <ion-img [src]="userPhoto" alt="Foto de perfil" class="profile-avatar"></ion-img>
          </ion-button>
        </div>
      }
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="sidebar" id="ham-btn" class="hamburger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

@for (topico of topicos$ | async; track topico.id; let i = $index) {
  @if (activeMenuIndex === i && dropdownPos) {
    <div class="dropdown-content fixed"
         [style.top.px]="dropdownPos.top"
         [style.left.px]="dropdownPos.left"
         (mouseenter)="onPanelEnter(i)"
         (mouseleave)="onPanelLeave()">
      @for (item of topico.items; track item) {
        <ion-item button
          [routerLink]="['/SearchResult']"
          [queryParams]="buildQueryParams(topico.id, item)"
          class="dropdown-item">
          {{ item }}
        </ion-item>
      }
    </div>
  }
}

@if (isProfileMenuOpen && profileDropdownPos) {
  <div class="profile-dropdown fixed"
       [style.top.px]="profileDropdownPos.top"
       [style.right.px]="profileDropdownPos.right">
    <ion-item button [routerLink]="['/UserProfile', currentUserId]">Mi Perfil</ion-item>
    <ion-item button routerLink="/CreateProject">Crear Proyecto</ion-item>
    <ion-item button [routerLink]="['/ManageProject', currentUserId]">Gestionar Proyecto</ion-item>
    <ion-item button class="logout-btn" (click)="onLogout()">Cerrar sesión</ion-item>
  </div>
}

<ion-menu side="start" menuId="sidebar" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="sidebar"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div style="height: 100%; overflow-y: auto; background: var(--color-gray);">
    <ion-list>
      @for (topico of topicos$ | async; track topico.id) {
        <ion-item>
          <ion-label>{{ topico.nombre }}</ion-label>
        </ion-item>
        @for (item of topico.items; track item) {
          <ion-item
            button
            [routerLink]="['/SearchResult']"
            [queryParams]="buildQueryParams(topico.id, item)"
            (click)="closeSidebar()"
          >
            <ion-label>{{ item }}</ion-label>
          </ion-item>
        }
      }
    </ion-list>

    <ion-list>
      <ion-item button routerLink="" (click)="closeSidebar()"><ion-label>Home</ion-label></ion-item>

      @if (!isLoggedIn) {
        <ion-item button routerLink="/Login" (click)="closeSidebar()"><ion-label>Iniciar Sesión</ion-label></ion-item>
      } @else {
        <ion-item button [routerLink]="['/UserProfile', currentUserId]" (click)="closeSidebar()"><ion-label>Mi Perfil</ion-label></ion-item>
        <ion-item button routerLink="/CreateProject" (click)="closeSidebar()"><ion-label>Crear Proyecto</ion-label></ion-item>
        <ion-item button [routerLink]="['/ManageProject', currentUserId]" (click)="closeSidebar()"><ion-label>Gestionar Proyecto</ion-label></ion-item>
        <ion-item button class="logout-btn" (click)="onLogout()"><ion-label>Cerrar Sesión</ion-label></ion-item>
      }
    </ion-list>
  </div>
</ion-menu>
