*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

.introduction{
    margin-top: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.trendingUsers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.discoverButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
}

.discoverButton button{
    border-radius: 25px;
    width: 10rem;
    height: 3.5rem;
    cursor: pointer;
}

.discoverButton button:hover{
    background-color: lightgray;
}
@media (max-width: 1024px) {
    .introduction {
        margin-top: 3rem;
    }

    .trendingUsers {
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .introduction {
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .trendingUsers {
        flex-direction: column;
        align-items: center;
    }

    .discoverButton {
        height: 7rem;
    }
    .trendingUsers div {
        margin: 0.5rem 2rem 0.5rem 2rem;
    }
}