* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}


.sectionLayout {
    width: 28rem;
    padding: 1.5rem;
    background: #d9d9d9;
    border-radius: 3rem;
    position: relative;
    text-align: center;
}

.backButton {
    position: absolute;
    left: 1rem;
    top: 1rem;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: 800;
}

.form {
    width: 100%;
    text-align: left;
}

.helpText {
    font-size: 10px;
    margin: 20px 0 10px;
}
button {
    padding: 6px 22px;
    border-radius: 16px;
    border: none;
    margin-top: 0.5rem;
    background: #ffffff;
    cursor: pointer;
    font-size: 12px;
}
button:hover {
    background: #5a5a5a;
}

label {
    position: relative;
    margin-bottom: 32px;
    cursor:text;
}

label p {
    position: relative;

}
.password-wrapper {
    position: relative;
    display: inline-block;
}

.password-wrapper input {
    padding-right: 2.5rem;
}

.toggle-password {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none !important;
    border: none !important;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}

.toggle-password:hover {
    background: none !important;
}


@media (max-width: 768px) {
    .sectionLayout {
        width: 95vw;
        padding: 1.25rem;
        border-radius: 1.5rem;
    }

    .title {
        font-size: 2rem;
    }
}