*{
    box-sizing: border-box;
}

.project-container {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.projects {
    flex: 1;
}

.button-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
}

.button-container button {
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
}

.button-container button:hover {
    background-color: lightgray;
}

.userSkillsButton {
    margin-bottom: 1rem;
}