* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.userDescription{
    justify-self: center;
    align-content: center;
    padding-right: 5rem;

}

.userDescription textarea{
    resize: none;
    margin-top: 1rem;
}


.profileInformationButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 5rem;
}
.profileInformationDiv button{
    background: white;
    border: 2px #b0b0b0 solid;
    cursor: pointer;
}

.profileInformationDiv input{
    height: 2rem;
    width: 80%;
    padding: 10px;
    border: 2px solid #b0b0b0;
    border-radius: 15px;
    background: white;
}

.profileInformation p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}


.search-box{
    width: 80%;
}

.selected-section{
    width: 80%;
}

#dropdown{
    width: 80%;
}

.profileInformationUpload {
    margin-top: 5rem;
    max-width: 400px;
    font-family: sans-serif;
}

.upload-box {
    display: block;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fafafa;
}

.upload-box:hover {
    border-color: #666;
    background: #f0f0f0;
}

.upload-box:active {
    transform: scale(0.98);
}

.upload-content .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.upload-content p {
    margin: 0;
    font-size: 16px;
}

.upload-content span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #777;
}

input[type="file"] {
    display: none;
}

.uploadContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

@media (max-width: 1024px) {
    .uploadContent {
        grid-template-columns: 1fr;
        gap: 0;
        justify-self: center;
    }

    .userDescription,
    .profileInformationButtons {
        width: 80%;
    }

    .userDescription textarea {
        width: 100%;
    }

    .profileInformationButtons {
        width: 100%;
        margin-top: 1rem;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .userDescription,
    .profileInformationButtons {
        width: 80%;;
    }

    .userDescription textarea {
        width: 100%;
    }

    .profileInformationButtons {
        margin-top: 1rem;
    }

    .search-box,
    .selected-section,
    #dropdown {
        width: 100%;
    }

    .profileInformationUpload {
        max-width: 100%;
        margin-top: 2rem;
    }

    .uploadContent {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}