*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside {
    flex: 0 0 18rem;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#main-layout {
    display: flex;
    flex: 1;
    gap: 20px;
}

#results {
    width: 100%;
    padding: 1rem 2rem 1rem 0.5rem;
    flex: 1;
}

.media-button {
    width: 100%;
}

/* FILTROS */
aside h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.filters {
    padding: 1rem;
}

.filters-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filter-group {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-group label {
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.apply-btn {
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    cursor: pointer;
}

.clean-btn {
    border: 0.1rem solid black;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    background: white;
    color: black;
    cursor: pointer;
}

.apply-btn:hover {
    background: grey;
}

.clean-btn:hover {
    background: lightgray;
}

@media (max-width: 1024px) {
    aside {
        flex: 0 0 20%;
        padding: 14px;
    }

    aside h3 {
        font-size: 1.5rem;
    }

    .filter-group {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    aside {
        flex: 0 0 20%;
    }

    aside h3 {
        font-size: 1.5rem;
    }

    .filter-group {
        font-size: 1.2rem;
    }

    .filter-group label {
        font-size: 1rem;
    }

}