<div class="cardLayout">
  <button class="informationCard" (click)="navegarAPerfil()">
    <div class="cardImage">
      <img [src]="imagen" [alt]="titulo">
    </div>
    <div class="cardContent">
      <div>
        <h2>{{ titulo }}</h2>
        @if(topics.length>0){
          <div class="topicsRow">
            @for (topic of (topics); track topic.id) {
              <app-topic-box-btn
                [topic]="topic.name"
                [id]="topic.id!"
                (click)="$event.stopPropagation()"
              />
            }
          </div>
        }
      </div>
      <p>{{ descripcion }}</p>
    </div>
  </button>
</div>
