<div class="cardLayout">
  <button class="informationCard" (click)="navegarAPerfil()">
    <div class="cardImage">
      <img [src]="imagen" [alt]="titulo">
    </div>
    <div class="cardContent">
      <div>
        <h2>{{ titulo }}</h2>
        <div class="topicsRow">
          @for (topic of topics; track topic) {
            <app-topic-box-btn
              [topic]="topic"
            />
          }
        </div>
      </div>
      <p>
        {{ descripcion }}
      </p>
    </div>
  </button>
</div>
