@if(totalPages > 1) {
  <div class="pagination">

    <button
      (click)="pageChange.emit(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      ‹
    </button>

    @for(page of pageNumbers; track page) {
      <button
        (click)="pageChange.emit(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </button>
    }

    <button
      (click)="pageChange.emit(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      ›
    </button>

  </div>
}
