@if(totalPages > 1) {
  <div class="pagination">
    <ion-button
      (click)="pageChange.emit(currentPage - 1)"
      [disabled]="currentPage === 1"
      fill="clear"
    >
      ‹
    </ion-button>

    @for(page of pageNumbers; track page) {
      <ion-button
        (click)="pageChange.emit(page)"
        [class.active]="page === currentPage"
        fill="clear"
      >
        {{ page }}
      </ion-button>
    }

    <ion-button
      (click)="pageChange.emit(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      fill="clear"
    >
      ›
    </ion-button>
  </div>
}
