<label id="input">
  <p>{{label}}</p>

  @if(participantsField) {
    <input [formControl]="formControl"
           (blur)="control.markAsTouched()"
           type="{{type}}"
           placeholder="{{ placeholder }}"
           min="2" max="20"
           value="{{this.value}}"/>
  } @else {
    <input [formControl]="formControl"
           (blur)="control.markAsTouched()"
           type="{{type}}"
           placeholder="{{ placeholder }}"
           value="{{this.value}}"/>
  }
</label>

@if(control.invalid && control.touched){
 <p style="font-size: 0.9rem;color: red">{{ getErrorMessage(formControl) }}</p>
}
