<ion-content>
  <div class="login-page">
    <div class="sectionLayout">
      <div class="header">
        <ion-button fill="clear" (click)="goBack()">←</ion-button>
        <h1 class="title">Iniciar Sesión</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">

        <div class="form-group">
          <app-get-input-text
            label="Correo electrónico"
            type="email"
            [control]="loginForm.controls['email']"
            placeholder="Correo electrónico"
            [errorMessages]="{
              required: 'El correo es obligatorio.',
              email: 'El formato del correo no es válido.'
            }"
          />
        </div>

        <div class="form-group">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              [formControl]="loginForm.controls['password']"
              (ionBlur)="loginForm.controls['password'].markAsTouched()"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Contraseña"
              maxlength="64"
            ></ion-input>
            <ion-button slot="end" fill="clear" (click)="togglePassword()">
              {{ showPassword ? '🙈' : '👁️' }}
            </ion-button>
          </ion-item>

          @if (password?.touched && password?.hasError('required')) {
            <ion-note color="danger">La contraseña es obligatoria.</ion-note>
          }
          @if (password?.touched && password?.hasError('minlength')) {
            <ion-note color="danger">La contraseña debe tener al menos 8 caracteres.</ion-note>
          }
          @if (password?.touched && password?.hasError('pattern')) {
            <ion-note color="danger">Debe contener al menos una mayúscula, minúscula, un número y un carácter especial (!#$%...).</ion-note>
          }
          @if (password?.touched && password?.hasError('maxlength')) {
            <ion-note color="danger">Contraseña demasiado larga, tamaño máximo 64.</ion-note>
          }
        </div>

        @if (generalError) {
          <ion-note color="danger">{{ generalError }}</ion-note>
        }

        <ion-button type="submit" [disabled]="loading" expand="block">
          {{ loading ? 'Entrando...' : 'Iniciar sesión' }}
        </ion-button>
        <br>
        <ion-button fill="outline" expand="block" routerLink="/UserRegistration">
          Crear cuenta
        </ion-button>

        <p class="helpText">
          Si surgió algún problema, ¡No dudes en avisarnos!
        </p>

        <ion-button fill="clear" expand="block" routerLink="/Incidents">
          Incidencias
        </ion-button>

      </form>
    </div>
  </div>
</ion-content>
