<body>
<main>
  <div class="login-page">
    <div class="sectionLayout">
      <div class="header">
        <button class="backButton" type="button" (click)="goBack()">←</button>
        <h1 class="title">Iniciar Sesión</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">

        <div class="form-group">
          <app-get-input-text
            label="Correo electrónico"
            type="email"
            [control]="loginForm.controls['email']"
            placeholder="Correo electrónico"
            [errorMessages]="{
              required: 'El correo es obligatorio.',
              email: 'El formato del correo no es válido.'
            }"
          />
        </div>

        <div class="form-group">
          <label id="input">
            <p>Contraseña</p>
            <div class="password-wrapper">
              <input
                [formControl]="loginForm.controls['password']"
                (blur)="loginForm.controls['password'].markAsTouched()"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Contraseña"
                maxlength="64"
              />
              <button type="button" class="toggle-password" (click)="togglePassword()">
                {{ showPassword ? '🙈' : '👁️' }}
              </button>
            </div>
          </label>

          @if (password?.touched && password?.hasError('required')) {
            <small class="passwordError">La contraseña es obligatoria.</small>
          }
          @if (password?.touched && password?.hasError('minlength')) {
            <small class="passwordError">La contraseña debe tener al menos 8 caracteres.</small>
          }
          @if (password?.touched && password?.hasError('pattern')) {
            <small class="passwordError">Debe contener al menos una mayúscula, minúscula, un número y un carácter especial (!#$%...).</small>
          }
          @if (password?.touched && password?.hasError('maxlength')) {
            <small class="passwordError">Contraseña demasiado larga, tamaño máximo 64.</small>
          }
        </div>

        @if (generalError) {
          <p class="passwordError">{{ generalError }}</p>
        }

        <button class="primary-btn" type="submit" [disabled]="loading">
          {{ loading ? 'Entrando...' : 'Iniciar sesión' }}
        </button>
        <br>
        <button class="secondary-btn" type="button" routerLink="/UserRegistration">
          Crear cuenta
        </button>

        <p class="helpText">
          Si surgió algún problema, ¡No dudes en avisarnos!
        </p>

        <button class="secondary-btn" type="button" routerLink="/Incidents">
          Incidencias
        </button>

      </form>
    </div>
  </div>
</main>
</body>
