<app-header></app-header>
<ion-content>
  @if (userInformation) {
    <app-banner-profile
      [titulo]="userInformation.Nickname"
      [banner]="userInformation.Banner"
      [avatar]="userInformation.Avatar">
    </app-banner-profile>

    <section class="profileInformationButtons">
      @if (isOwnedProfile) {
        <ion-button [routerLink]="['/ManageProfile', this.userInformation.uid]" type="button">Editar Perfil</ion-button>
        <ion-button [routerLink]="['/ManageProject', this.userInformation.uid]" type="button">Tus Proyectos</ion-button>
      }
    </section>

    <section class="profileDescription">
      <p>{{ userInformation.Description }}</p>
    </section>

    <section class="profile-layout">
      <aside class="profileInformation">
        <app-user-skills [label]="'Especialidad'" [topics]="userTopics"></app-user-skills>
        <app-user-skills [label]="'Lenguajes'" [topics]="userLanguages"></app-user-skills>

        <div class="social-links">
          @if (userInformation.Social?.Github?.Link) {
            <div class="social-link">
              <h4>Github</h4>
              <a [href]="userInformation.Social.Github.Link" target="_blank">{{ userInformation.Social.Github.Name }}</a>
            </div>
          }
          @if (userInformation.Social?.Linkedin?.Link) {
            <div class="social-link">
              <h4>LinkedIn</h4>
              <a [href]="userInformation.Social.Linkedin.Link" target="_blank">{{ userInformation.Social.Linkedin.Name }}</a>
            </div>
          }
          @if (userInformation.Social?.Instagram?.Link) {
            <div class="social-link">
              <h4>Instagram</h4>
              <a [href]="userInformation.Social.Instagram.Link" target="_blank">{{ userInformation.Social.Instagram.Name }}</a>
            </div>
          }
          @if (userInformation.Social?.Twitter?.Link) {
            <div class="social-link">
              <h4>Twitter</h4>
              <a [href]="userInformation.Social.Twitter.Link" target="_blank">{{ userInformation.Social.Twitter.Name }}</a>
            </div>
          }
        </div>

        <div class="profileInformationDivDownload">
          <a href="" download>Descargar CV ⬇️</a>
        </div>
      </aside>

      <section class="profileProjects">
        <app-cards-grid
          [isProject]="true"
          [title]="'Proyectos más relevantes'"
          [items]="userProjects"
        ></app-cards-grid>
      </section>
    </section>
  }
  <app-footer></app-footer>
</ion-content>
