<footer id="footer">
  <p id="footer-name">Devconnect</p>
  <div class="footer-content">

    <div class="column-footer">
      <p id="RRSS">Redes Sociales</p>
      <a href="https://www.youtube.com">Youtube</a><br>
      <a href="https://www.instagram.com">Instagram</a> <br>
      <a href="https://www.X.com">Twitter/X</a>

    </div>

    <div class="column-footer">
      <p id="Contact">Contacto</p>
      <a routerLink="/Incidents">Gestión de incidencias</a>


    </div>

    <div class="column-footer">
      <p id="WHOIAM">¿ Quienes somos ?</p>
      <a routerLink="/AboutUs">Sobre nosotros</a>
    </div>
  </div>
</footer>
