<ion-footer id="footer">
  <ion-toolbar>
    <ion-title>Devconnect</ion-title>
  </ion-toolbar>
  <ion-content class="footer-content">
    <ion-list>
      <ion-item>
        <ion-label>Redes Sociales</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com">Youtube</ion-item>
      <ion-item href="https://www.instagram.com">Instagram</ion-item>
      <ion-item href="https://www.X.com">Twitter/X</ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Contacto</ion-label>
      </ion-item>
      <ion-item routerLink="/Incidents">Gestión de incidencias</ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>¿Quienes somos?</ion-label>
      </ion-item>
      <ion-item routerLink="/AboutUs">Sobre nosotros</ion-item>
    </ion-list>
  </ion-content>
</ion-footer>
