
<main>
  <app-banner></app-banner>
  <h2 class="introduction">Trending Users</h2>

  <section class="trendingUsers">
    @if (!isLoading) {
      @for (user of trendingUsers; track user.Id) {
        <app-information-card  [titulo]="user.Nickname" [descripcion]="user.Description"></app-information-card>
      }
    }

  </section>
  <div class="discoverButton">
    <button type="button" (click)="discoverUsers()">Más información</button>
  </div>

  <br><hr><br>

  <section class="trendingProjects"><app-media-list [items]="trendingProjects"></app-media-list></section>




  <div class="discoverButton">
    <button type="button" (click)="discoverProjects()">Más información</button>
  </div>


</main>
<app-footer></app-footer>
