
<main>
  <app-banner></app-banner>
  <h2 class="introduction">Usuarios trending</h2>

  <section class="trendingUsers">
    @if (!isLoading) {
      @for (user of userData.slice(0,3); track user.Id) {
        <app-information-card  [imagen]="user.Avatar" [titulo]="user.Nickname" [descripcion]="user.Description"></app-information-card>
      }
    }

  </section>
  <div class="discoverButton">
    <button type="button" (click)="discoverUsers()">Más información</button>
  </div>

  <br><br>

  <h2 class="introduction">Proyectos trending</h2>
  <section class="trendingProjects"><app-media-list [type]="'projects'" [projects]="this.projectData"></app-media-list></section>




  <div class="discoverButton">
    <button type="button" (click)="discoverProjects()">Más información</button>
  </div>


</main>
<app-footer></app-footer>
