@if(project != undefined){
  <ion-item (click)="navegarAProyecto()" [class.flat]="flat">
    <ion-thumbnail slot="start">
      <ion-img [src]="project.image" [alt]="project.title"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
    </ion-label>
    @if(showActions){
      <ion-buttons slot="end">
        <ion-button (click)="onEdit($event)">✏️</ion-button>
        <ion-button (click)="onDelete($event)">🗑️</ion-button>
      </ion-buttons>
    }
  </ion-item>
}

@else{
  <ion-item (click)="navegarAUsuario()" [class.flat]="flat">
    <ion-thumbnail slot="start">
      <ion-img [src]="user?.Avatar" [alt]="user?.Nickname"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h3>{{ user?.Nickname }}</h3>
      <p>{{ user?.Description }}</p>
    </ion-label>
  </ion-item>
}

