.actionButtonDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.actionButton {
  height: 2rem;
  background-color: #383288;
}

.actionButton:hover {
  background-color: #15152e;
}

.media-text{
  width: 100%;
}

ion-item.flat {
  --background: var(--color-light);
  box-shadow: none;
  margin: 0.5rem auto;
}
