.cardGrid {
    background: white;
    min-height: 75vh;
    align-items: center;
    display: block;
}

.cardGrid h1 {
    text-align: center;
    font-size: 2rem;
    margin: 5px;
}

.cardsSection {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    gap: 0.25rem;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 0;
}