.media-button {
    display: flex;
    gap: 1rem;
    width: calc(100% - 2rem); 
    text-align: start;
    padding: 0.8rem;
    margin: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    border-radius: 1rem;
    min-height: 10rem;
}

.media-button:hover {
    background-color: lightgray;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}