.media-button {
    display: flex;
    gap: 1rem;
    width: 75%;
    text-align: start;
    padding: 0.8rem;
    margin: 1rem auto;
    background-color: transparent;
    border: none;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    border-radius: 1rem;
    min-height: 10rem;
}

.media-button:hover {
    background-color: lightgray;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-2px);
}

.media-button img {
    height: 150px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .media-button {
        flex-direction: column;
        align-items: center;
    }

    .media-button img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .media-text {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    .media-button {
        width: 88%;
    }
}