.topicBox {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #f8f9fa;
    font-size: 0.75rem;
    white-space: nowrap;
    display: inline-flex;
}

.topicBox p {
    margin: 1px;
}

.topicBox:hover {
    background-color: lightgray;
}