

.profileSkillContainerFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.profileSkillField{
    height: 2rem;
    width: 8rem;
    background: lightgrey;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}