.profileInformationField{
    width: 100%;
    height: 2rem;
    display: flex;
    background-color: lightgray;
    align-items: center;
    border-radius: 15px;
}

.profileInformationTag {
    display: flex;
    margin-bottom: 1rem;
}

.profileInformationContainer {
    width: 80%;
    flex-direction: column;
}

.profileInformationContainer p{
    margin-left: 0.3rem;
}
